.navbar {
  background-color: #190944;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.user {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.inverted-button {
  background-color: white;
  font-size: 12pt;
  font-weight: bold;
  height: 40px;
  width: 110px;
  border-radius: 10px;
  border: 0px;
  margin: 5px;
}

.normal-button {
  background-color: transparent;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  height: 40px;
  width: 110px;
  border-radius: 10px;
  border: 0px;
  margin: 5px;
}

.bg {
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  width: '100vw';
  height: '90vh';
}

.welcome-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-message {
  margin-top: 10vh;
}

.emphasis-button {
  background: linear-gradient(180deg, rgba(234,47,93,1) 0%, rgba(154,33,63,1) 100%); 
  color: white;
  font-size: 16pt;
  font-weight: bold;
  height: 60px;
  width: 240px;
  border-radius: 10px;
  border: 0px;
  margin: 5px;
}

.emphasis-button:hover {
  cursor: pointer;
}

.category-button {
  width: 300px;
  height: 50px;
  margin-top: 10px;
  border-radius: 15px; 
  color: #190944; 
  font-size: 12pt;
  background-color: white;
  border: 1px solid #190944; 
}

.category-selected {
  background-color: #190944;
  color: white
}

.category-not-selected:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.hover-dropshadow:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);
  cursor: pointer; 
}

.hover-selector:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2); 
  border-radius: 10px;
  cursor: pointer;
}

.selected-option {
  background-color: #190944;
  color: white;
  height: 100%;
  border-radius: 10px;
}

.pay-button {
  background: linear-gradient(180deg, rgba(234,47,93,1) 0%, rgba(154,33,63,1) 100%); 
  color: white;
  font-size: 16pt;
  font-weight: bold;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  border: 0px;
  margin-top: 10px;
}

.pay-button:hover {
  cursor: pointer;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.input-field {
  border-radius: 10px;
  border: 1px solid black;
  height: 20px;
  padding: 5px;
  margin-right: 10px;
}

.error-message {
  color: red;
  font-size: 8pt;
  margin-top: 2px;
  margin-left: 2px;
}

.select-field {
  border-radius: 10px;
  border: 1px solid black;
  height: 32px;
  padding: 5px;
  margin-right: 10px;
}

.input-checkbox {
  margin-right: 10px;
}

.input-checkbox:hover {
  cursor: pointer;
}